[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "7.1.2"
flake8 = "4.0.1"
build = "0.10.0"
twine = "4.0.2"

[requires]
python_version = "3.8"
